<div class='container-fluid'>
  <div class='row'>
    <div class='col-lg-11'>
      <h1>Reviews</h1>
      <% @reviews.each do |review| %>
        <table>
        <tbody>
        <tr>
        <td><h2>
        <%= review.resturant.name %></h2>
        </td>
        </tr>
        <tr>
        <td><h4><%= review.title %></h4></td>
        </tr>
        <tr>
        <td><%= review.body %></td>
        </tr>
        <tr>
        <td><%= review.user.email %></td>
      </tr>
      <tr><br></tr>
      <tbody>
      </table><hr>
      <% end %>
      <%= paginate @reviews %>
      <br>
    </div>
  </div>
</div>