<div class='container contentWrap content'>
<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

    <% @reviews.each do |review| %>
        <table>
        <tbody>
        <tr>
        <td><h4><%= review.title %></h4></td>
        </tr>
        <tr>
        <td><%= review.body %></td>
        </tr>
        <tr>
        <td><%= review.user.email %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr><br></tr>
      <tbody>
      </table>
    <% end %>


<br>
<%= link_to 'New review', new_review_path %>
</div>