<div class="form-upload contentUpload">
<div class="form-group">
<%= link_to 'Back', resturant_path(@resturant)%><br>
</div><br>
<%= form_with(model: [ @resturant, @resturant.images.build ], local: true) do |f| %>
    <% if @image.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@image.errors.count, "error") %> prohibited
                this image from being saved:
            </h2>
            <ul>
                <% @image.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
  <br> 
  <div class="form-group">
      <%= f.file_field :image %>
    </div><br>
    <div class="form-group">
      <%= f.text_field :user_id, value: current_user.id, class:'d-none'%>
    </div>
    <br>
    <div class="text-center">
      <%= f.submit 'Add Image', class: 'btn btn-primary' %>
    </div>
<% end %>
</div>
<br><br>

